/*set border-box to that css uses a more reasonable box model*/

*, *::before, *::after{
	box-sizing: border-box;
}


/*gets rid of default margins*/
*
{
	margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    
}




/*prevents these from expanding beyond its container and taking up a row*/
img, picture, video, canvas, svg
{
	display: block;
	max-width: 100%

}

img{
    border-radius: 10px;
}

/*makes tables look like spreadsheets and less like a spaced-out-grid*/

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.return
{
    padding: 1%;
    width: 10%;
}

.return-link
{
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}



body{
    font-family: sans-serif;
    margin: auto;
    color: white;
    background-color: black;
}

h1{
color: #48bae8;
text-align: center;
}

h2{
    text-align: center;
    
}
h3
{
    text-align: center;
    color: #48bae8;
}

strong{
    color: #48bae8;
}


.persona
{
    margin: 5%;
    padding: 2%;
    border: 5px #48bae8 solid;
    border-radius: 10px;
    text-align: center;
}
.persona-p
{
    padding-left: 5%;
    padding-right: 5%;
}

.persona-img
{
    display: flex;
    justify-content: center;
}

.q-title
{
    text-decoration: underline;
}

.spacer{
    margin: 3%;
}

.q-list{
    display: flex;
    justify-content: center;
}

ol{
    
    padding-top: 1%;
    padding-bottom: 1%;
    border: 5px #48bae8 solid;
    border-radius: 10px;
    max-width: 50%;
}

.observations{
    
    padding-top: 1%;
    padding-bottom: 1%;
    border: 5px #48bae8 solid;
    border-radius: 10px;
    max-width: 50%;
}

.interview{
    display: flex;
    justify-content: center;
}

.interview-list{
    max-width: 50%;
}



.intro-p{
    padding-left: 5%;
    padding-right: 5%;
}

.walmartimgdiv{
    display: flex;
    justify-content: center;
}

.walmartimg{
    max-width: 30%;
}
.sketch{
    max-width: 90%;
}
.storyboard{
    display: flex;
    justify-content: center;
}

.conclusion
{
    padding: 5%;
}

.hvr-reveal {
    padding: 10%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #48bae8;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 5px;
    border-radius: 25px;
  }